* {
    margin: 15px;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.main-div {
    display: flex;
    justify-content: center;
    font-size: 50px;

}

.human {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.comp {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    font-size: 20px;
}